*{
    box-sizing: border-box;
}

body{
    height:100%;
    width:100%;
    padding:0%;
    margin:0%;
}
body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}


.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.course-background{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.course-background>img{
    width: 80%;
    opacity: 0.9;
    height: 450px;

}
.course-heading{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.course-heading>h2{
    justify-content: center;
}
.video-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0080FF;
    margin-bottom: 20px;

    

}
.videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.categories-list{
   width: 800px;
  
   
    
    
}
.categories-container{
    display: flex;
   justify-content: center;
   margin-top: 100px;
}

.categories-ul{
    
   
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 60px;
    list-style-type: none;
    
   
}



.courses{
   
    display: flex;
    margin:60px; 
    overflow: scroll; 
}
.courses::-webkit-scrollbar{
    display: none;
}
.course-detail{
    margin-right: 30px;
}
.courses-container{
    margin-bottom: 30px;
}
.likecourse{
    display: flex;
    justify-content: flex-end;
    margin: 40px 150px 40px 0px;
}

 .course-descreption{
     width: 80%;
     margin: auto;
     margin-top: 30px;
 }  


 .course-video-container{
     margin-top: 30px;
 }
.course-grid{
    display: grid;
    grid-template-columns: repeat(3,400px);
    list-style-type: none;
    row-gap: 60px;
}
.courses-list{
   display: flex;
   justify-content: center;
    margin-top: 50px;
}

.profile-pic {
  padding: 100px;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}
@media only screen and (max-width:600px){
    .categories-ul{

        display: flex;
        flex-direction: column;

        align-items: center;
    }
    .course-grid{
        display: flex;
        flex-direction: column;

        align-items: center;
    }
}
@media only screen and (max-width:1181px){

    .course-grid{
        display: flex;
        flex-direction: column;

        align-items: center;
    }
}
@media only screen and (max-width:720px){
    .displayVideo{
        width: 100%;
    }
}