*{
    box-sizing: border-box;
}

body{
    height:100%;
    width:100%;
    padding:0%;
    margin:0%;
}
body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}


.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.course-background{
    width: 100%%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.course-background>img{
    width: 80%;
    opacity: 0.9;
    height: 450px;

}
.course-heading{
    display: flex;
    justify-content: center;
    margin: 10px;21
}
.course-heading>h2{
    justify-content: center;
}
.video-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0080FF;
}
.videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}