{% extends 'base_layout.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}
<div class="profile-pic card">

    <img src="{{profile.picture.url}}" class="">
    <h2>Hi {{profile.user.first_name}}</h2>

    <div class="subscribed-courses">
        <ul>
        {% for sub in subs %}
            <hr>
            <a href="{{sub.course.get_absolute_url}}"><img src="{{sub.course.thumbnail.url}}" alt="Course Thumbnail" width="200px" height="200px"></a>
            <li><a href="{{sub.course.get_absolute_url}}">{{sub.course.name}}</a></li>
            <hr>
            {% if sub.completed %}
            <strong>Completed</strong>
            {% else %}
            <p>Not completed</p>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

</div>
<style>
    .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.subscribed-courses button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.subscribed-courses a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.subscribed-courses button:hover, a:hover {
  opacity: 0.7;
}
</style>
{% endblock %}