{% extends 'base_layout.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block content %}
<div class="profile-pic">

    <img src="{{profile.picture.url}}" class="image--cover">
    <h2>Hi {{profile.user.first_name}}</h2>

    <div class="subscribed-courses">
        <ul>
        {% for sub in subs %}
            <hr>
            <a href="{{sub.course.get_absolute_url}}"><img src="{{sub.course.thumbnail.url}}" alt="Course Thumbnail" width="200px" height="200px"></a>
            <li><a href="{{sub.course.get_absolute_url}}">{{sub.course.name}}</a></li>
            <hr>
            {% if sub.completed %}
            <strong>Completed</strong>
            {% else %}
            <p>Not completed</p>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}