{% extends 'base_layout.html' %}
{% block title %}
    <title>{{title}}</title>
{% endblock %}
{% block content %}
<hr>
<h1 style="text-align: center;margin-top: 50px;margin-bottom: 50px;">Categories</h1>
<div class="categories-container">

    <div class="categories-list">
        <ul class="categories-ul">
            {% for category in categories %}
            <div>
                <a href="{{category.get_absolute_url}}" class="cat">
                    <div class="category-bgimage">
                        <img src="{{category.thumbnail.url}}" alt="Thumbnail" width="200" height="200">
                    </div>
                    <li style="text-align: center;font-size: 20px;"><a style="color: black;"
                                                                       href="{{category.get_absolute_url}}">{{category}}</a>
                    </li>
                </a>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

