{% extends 'base_layout.html' %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
    {{message}}
</div>
<br>
<hr>
{% endfor %}
<div class="course-content">
    <div class="course-heading">
        <h2>{{course.name}}</h2>
    </div>
    <div class="course-background">
        <img src="{{course.thumbnail.url}}" alt="course-image" width="100%">
    </div>
</div>
<div class="course-descreption">
    <h3>About Course</h3>
    <p>{{course.about}}</p>
</div>
{% if subscribed %}
<h2>Subscribed</h2>
<form action="{% url 'subscribe' course.slug %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Unsubscribe">
</form>
<div class="likecourse">
    <form action="{% url 'likecourse' course.slug %}" method="POST">
        {% csrf_token %}
        <button style="margin-right: 30px;width: 80px; background-color: rgb(7, 23, 247); color: white;" type="submit">
            {{like_status}}
        </button>
    </form>
    <p>Likes - {{likes}}</p>
    {{status}}
</div>

<div class="course-video-container">
    <h2 style="margin: 20px 0 30px 150px ;">Course Content</h2>
    <div class="videos">
        {% for vid in vids %}
        <div class="video">
            <div class="video-heading">
                <h3>{{vid.title}}</h3>
            </div>
            <video class="displayVideo" controls controlsList="nodownload" style="height: 700px;">
                <source src="{{ vid.videofile.url }}">
                Your browser does not support the video tag.
            </video>
        </div>


        {% endfor %}


    </div>
</div>

{% else %}
<form action="{% url 'subscribe' course.slug %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input class="textNode" type="submit" value="Subscribe">
</form>

<style>
    body {
  text-align: center;
}

.center-component {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

button.kk-submit {
  background: transparent;
  border: none;
}
button.kk-submit.is-active {
  cursor: default;
}
button.kk-submit:focus {
  outline: none;
}
button.kk-submit::-moz-focus-inner {
  border: 0;
}
button.kk-submit svg text {
  font-family: 'Montserrat', sans-serif;
}
button.kk-submit svg text.textNode {
  fill: #48727F;
}
button.kk-submit svg text.checkNode {
  fill-opacity: 0;
}
button.kk-submit svg rect.btn-shape.btn-bg {
  stroke: #c8c8c8;
  fill: white;
}
button.kk-submit svg rect.btn-shape.btn-color {
  stroke: #48727F;
  fill: white;
  stroke-dasharray: 453;
  stroke-dashoffset: 0;
}

p {
  font-family: Montserrat, sans-serif;
  color: #575757;
  font-size: 1rem;
  max-width: 330px;
}
p a {
  color: #1ecd97;
}
p a:hover, p a:active {
  color: #07e5a0;
}
p a:visited {
  color: #36b68e;
}
</style>
{% endif %}

{% endblock %}




