{% extends 'base_layout.html' %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
    {{message}}
</div>
<br>
<hr>
{% endfor %}
<div class="course-content">
    <div class="course-heading">
        <h2>{{course.name}}</h2>
    </div>
    <div class="course-background">
        <img src="{{course.thumbnail.url}}" alt="course-image" width="100%">
    </div>
</div>
<div class="course-descreption">
    <h3>About Course</h3>
    <p>{{course.about}}</p>
</div>
{% if subscribed %}
<h2>Subscribed</h2>
<form action="{% url 'subscribe' course.slug %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Unsubscribe">
</form>
<div class="likecourse">
    <form action="{% url 'likecourse' course.slug %}" method="POST">
        {% csrf_token %}
        <button style="margin-right: 30px;width: 80px; background-color: rgb(7, 23, 247); color: white;" type="submit">
            {{like_status}}
        </button>
    </form>
    <p>Likes - {{likes}}</p>
    {{status}}
</div>

<div class="course-video-container">
    <h2 style="margin: 20px 0 30px 150px ;">Course Content</h2>
    <div class="videos">
        {% for vid in vids %}
        <div class="video">
            <div class="video-heading">
                <h3>{{vid.title}}</h3>
            </div>
            <video class="displayVideo" controls controlsList="nodownload">
                <source src="{{ vid.videofile.url }}">
                Your browser does not support the video tag.
            </video>
        </div>


        {% endfor %}


    </div>
</div>

{% else %}
<h2>Subscribe</h2>
<form action="{% url 'subscribe' course.slug %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Subscribe">
</form>

{% endif %}

{% endblock %}




