{% extends 'base_layout.html' %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block content %}

{% for message in messages %}
<br>
<div class="alert alert-primary" role="alert">
    {{message}}
</div>
<br>
{% endfor %}

<div class="courses-container">
    <h2 style="margin:30px 0px 30px 60px">Most Liked</h2>

    <div class="courses">
        {% for course in courses %}
        <a href="{{ course.get_absolute_url }}" class="course">
            <div class="course-detail">
                <h5>{{course.name}}</h5>
                <img src="{{course.thumbnail.url}}" alt="course image" width="350" height="200">
            </div>
        </a>
        <hr>
        {% endfor %}
    </div>
    <hr>
    <h2 style="margin:30px 0px 30px 60px">Recently Added</h2>

    <div class="courses">
        {% for course in recentcourses %}
        <a href="{{ course.get_absolute_url }}" class="course">
            <div class="course-detail">
                <h5>{{course.name}}</h5>
                <img src="{{course.thumbnail.url}}" alt="course image" width="350" height="200">
            </div>
        </a>
        <hr>
        {% endfor %}
    </div>

</div>

{% endblock %}
